body{



	margin:auto;
	display: flex;
	justify-content: center;
}
.container-block {
	display: grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 100px;
	border:2px solid red;
	
}

.container-block2 {
	display: grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 100px;
	border:2px solid red;

}
.input{
	margin: -11px;
	height: 25px;
}

.h1{
	text-align: center;
}

.block-elem{
	position: relative;
	border:2px solid blue;
	text-align: center;


}
.block-text{
	text-align: center;
	font-size: 35px;
}
.btn{
	width: 150px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
div{
	background-color: #008080;
	font-family: "Lato";
	font-weight: 200;
	font-size: 10px
	color:#555;

  }


