body{
	background-color: red;
}
p{
	text-align: justify;
	line-height: 20px;
	letter-spacing: 2px;
	/*text-decoration: line-through; */
	/*text-shadow: 2px 5px 10px red;*/
	text-transform:capitalize;
	text-indent: 20px;
	cursor: pointer;
	font-weight: 900;

}
img{ 
	position: fixed;
	width: 100px;
	height: 100px;
	bottom: 20px;
	right: 10px;
	transition: 2s;
	opacity: 30%;
	



}
img:hover {
	box-shadow: 5px 5px 10px yellow; 
	cursor: pointer;
	border-radius: 100%;
	transform: rotate(360deg);
	opacity: 100%;


}

